<% if user_signed_in? %>
  <canvas id="map" width="512px" height="480px" class="left">
    Looks like your browser doesn&#39;t support canvas.
  </canvas>
  <canvas id="chat" width="512px" height="450px">
    Looks like your browser doesn&#39;t support canvas.
  </canvas>
  <input id="chat_bar" type="text" />
  <div class="clear">
    <audio id="phat_beats" controls loop src="assets/shinichi_osawa_electro_411_lies_in_disguise_remix.ogg">
      Looks like your browser doesn&#39;t support audio.
    </audio>
  </div>
<% end %>
