<% if user_signed_in? %>
  <canvas id="map" width="512" height="480" >
    Looks like your browser doesn't support canvas.
  </canvas>
  <br />
  <audio id="phat_beats" controls loop src="assets/shinichi_osawa_electro_411_lies_in_disguise_remix.ogg">
    Audio tags not supported
  </audio>
<% else %>
  <p>
    Sign In or Sign Up to play!
  </p>
<% end %>