body {
  background: url('background.png') black;
  color: white;
  font-family: 'SansationItalic', serif;
}

h1 {
  font-family: 'SansationBoldItalic', serif;
}

a {
  color: green;
}

a:visited {
  color: green;
}

canvas {
  border: solid 2px orange;
}

.center {
  text-align: center;
}

#content {
  width: 80%;
  margin: 0 auto;
}

#phat_beats {
  margin-top: 20px;
}
