body {
  background: url('background.png') black;
  color: white;
  font-family: 'SansationItalic', serif;
}

h1 {
  font-family: 'SansationBoldItalic', serif;
}

a {
  color: green;
}

a:visited {
  color: green;
}

canvas {
  border: solid 1px orange;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#content {
  width: 80%;
  margin: 0 auto;
}

#phat_beats {
  clear: both;
  margin-top: 20px;
}

#chat_box {
  border: 1px solid orange;
  width: 500px;
  height: 455px;
  background: gray;
  margin-bottom: 3px;
}

#chat_bar {
  width: 496px;
}

#box_container {
  width: 1024px;
  margin: 0 auto;
}