@font-face {
    font-family: 'SansationBoldItalic';
    src: url('Sansation_Bold_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: url('background.png') black;
  color: white;
  font-family: 'SansationBoldItalic', serif;
}

.center {
  text-align: center;
}