@font-face {
    font-family: 'SansationRegular';
    src: url('Sansation_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationLight';
    src: url('Sansation_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationBold';
    src: url('Sansation_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationLightLightItalic';
    src: url('Sansation_Light_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationItalic';
    src: url('Sansation_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationBoldItalic';
    src: url('Sansation_Bold_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}